   /* section headers should have background color */
   /* using box model to add borders and spacing to each section  */
  
   .Fruits {
    background-color:aqua;
    position: relative;
    border: 2px solid;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    display:inline-flex;
   }
   
   .Vegetables {
    background-color: aqua;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    display:inline-flex;
   }
   ol {
      color: rgb(44, 5, 116);
      padding: 20px;
      margin: 10px;
   }
   ul {
      color: blueviolet;
      padding: 20px;
      margin: 10px;
   }

   